sudo: required
dist: trusty
language: python
addons:
  apt:
    packages:
      - build-essential
      - ninja-build
      - devscripts
python:
  - "2.7"
install:
  - pip install flake8
before_script:
  - flake8 --version
script:
  - flake8
  - ./src/build.py --sync-include=host-toolchain,cmake,wabt --build-include=wabt,debian --no-test
notifications:
  email: false
