# Defines jobs on luci-scheduler.appspot.com.
#
# For schema of this file and documentation see ProjectConfig message in
# https://github.com/luci/luci-go/blob/master/scheduler/appengine/messages/cron.proto

acl_sets {
  name: "default"
  acls {
    role: READER
    granted_to: "group:all"
  }
  acls {
    role: OWNER
    granted_to: "group:project-v8-admins"
  }
}

# Triggers first. Please keep triggers sorted by id.

trigger {
  id: "llvm-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://llvm.googlesource.com/llvm"
    refs: "refs/heads/master"
  }

  triggers: "linux"
  triggers: "windows"
  triggers: "mac"
}

# Jobs second. Please keep jobs sorted by id in each section, which corresponds
# to a console on LUCI.

job {
  id: "linux"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "cr-buildbucket.appspot.com"
    bucket: "luci.wasm.ci"
    builder: "linux"
  }
}

job {
  id: "windows"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "cr-buildbucket.appspot.com"
    bucket: "luci.wasm.ci"
    builder: "windows"
  }
}

job {
  id: "mac"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "cr-buildbucket.appspot.com"
    bucket: "luci.wasm.ci"
    builder: "mac"
  }
}
